<div id="main-container" class="channelpage noselect cursor-default">
    {{> channel/header}}
    <div id="channel-load" class="progress">
        <div class="indeterminate" id="channel-load-move"></div>
    </div>
    <main class="container center-align main">
        <div id="main-row" class="row">
            {{#if client}}
            {{else}}
                {{> channel/players}}
            {{/if}}
            {{> channel/tabs}}
        </div>
        <!--<div id="playbar">
        </div>-->
    </main>
</div>
<ul class="context-menu-list context-menu-root hide">
    <li class="context-menu-item copy-context-menu">
        <span>Copy link</span>
    </li>
    <li class="context-menu-item find-context-menu">
        <span>Find Similar</span>
    </li>
    <li class="context-menu-item context-menu-separator context-menu-not-selectable">
    </li>
    <li class="context-menu-item delete-context-menu context-menu-disabled">
        <span>Delete</span>
    </li>
</ul>
<div id="context-menu-overlay" class="hide"></div>
