<div id="locked_channel" class="modal">
    <div class="modal-content">
        <h5>Locked Channel</h5>
        <p>This channel has a password, and can't be accessed in embedded mode.</p>
    </div>
    <div class="modal-footer">
    </div>
</div>
<div id="song-title"></div>
<div id="main_components" style="display:inline-flex;">
    <div id="player-container">
        <div id="player"></div>
        <div id="player_overlay" class="hide valign-wrapper">
            <div class="soundcloud_info_container hide">
                <a href="#!" id="soundcloud_listen_link" target="_blank">
                    <img src="https://developers.soundcloud.com/assets/powered_by_large_white-9c2af6a93ad2b1c541f423d9e9045980.png" />
                </a>
                <a href="#!" class="btn green waves-effect waves-light" target="_blank">Artist</a>
            </div>
                <div id="player_loader_container" class="hide valign-wrapper">
                <div id="player_loader" class="preloader-wrapper large active valign">
                    {{> spinner}}
                </div>
            </div>
        </div>
        <a href="https://zoff.me" class="channel-info-container" title="Visit the channel!">
            <div id="zoffbutton"></div>
            <div class="channel-title white-text"></div>
        </a>
        <div id="controls" class="noselect">
            <div class="playbar-btn prev playbar hide">
                <i class="material-icons">skip_previous</i>
            </div>
            <div id="playpause" class="playbar-btn playbar margin-playbar">
                <i id="play" class="material-icons hide">play_arrow</i>
                <i id="pause" class="material-icons">pause</i>
            </div>
            <div class="playbar-btn skip playbar">
                <i class="material-icons">skip_next</i>
            </div>
            <div id="duration">00:00 / 00:00</div>
            <div id="volume-button">
                <i id="v-mute" class="mdi-av-volume-off"></i>
                <i id="v-low" class="mdi-av-volume-mute"></i>
                <i id="v-medium" class="mdi-av-volume-down"></i>
                <i id="v-full" class="mdi-av-volume-up"></i>
            </div>
            <div id="volume"></div>
            <div id="viewers"></div>
            <div id="bar"></div>
        </div>
    </div>
    <div id="playlist">
        <div id="wrapper">
            <div id="list-song-html">
                <div id="list-song" class="card left-align list-song  waves-effect waves-light playlist-element">
                    <div class="clickable vote-container" title="Vote!">
                        <a class="clickable center-align votebg">
                            <span class="lazy card-image cardbg list-image" style="background-image:url('/assets/images/loading.png');">
                            </span>
                            <span class="card-duration">
                                01:00
                            </span>
                        </a>
                        <span class="card-content">
                            <span class="flow-text truncate list-title"></span>
                            <span class="vote-span">
                                <span class="list-votes"></span>
                                <span class="highlighted vote-text">&nbsp;votes</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="pageButtons" class="hide">
            <span class="first_page_hide btn-flat disabled">
                <i class="material-icons">first_page</i>
            </span>
            <a class="first_page waves-effect waves-light btn-flat">
                <i class="material-icons">first_page</i>
            </a>
            <span class="prev_page_hide btn-flat disabled">
                <i class="material-icons">navigate_before</i> prev
            </span>
            <a class="prev_page waves-effect waves-light btn-flat">
                <i class="material-icons">navigate_before</i> prev
            </a>
            <span id="pageNumber">1</span>
            <a class="next_page waves-effect waves-light btn-flat">
                next <i class="material-icons">navigate_next</i>
            </a>
            <span class="next_page_hide btn-flat disabled">
                next <i class="material-icons">navigate_next</i>
            </span>
            <a class="last_page waves-effect waves-light btn-flat">
                <i class="material-icons">last_page</i>
            </a>
            <span class="last_page_hide btn-flat disabled">
                <i class="material-icons">last_page</i>
            </span>
        </div>
    </div>
    <div class="site_loader">
        <div class="preloader-wrapper large active valign">
            {{> spinner}}
        </div>
    </div>
</div>
