<div id="main-container">
    {{> frontpage/header}}
    {{> frontpage/search}}

    <div id="channel-load" class="progress">
        <div class="indeterminate" id="channel-load-move"></div>
    </div>
    <main class="center-align container">
        <div id="main_section_frontpage" class="section">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <div class="no-jump-select">
                            Most Popular
                            <svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg>
                        </div>
                        <select id="view_channels_select">
                            <option value="" disabled>Channels to show</option>
                            <option value="1" selected>Most Popular</option>
                            <option value="2">All Channels</option>
                        </select>
                    </div>
                </div>
            </div>
            {{> frontpage/channels}}
        </div>
    </main>
</div>
