<div id="main-container">
    {{> frontpage/header}}
    {{> frontpage/search}}

    <div id="channel-load" class="progress">
        <div class="indeterminate" id="channel-load-move"></div>
    </div>
    <main class="center-align container">
        <div id="main_section_frontpage" class="section">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <select id="view_channels_select">
                            <option value="" disabled>Channels to show</option>
                            <option value="1" selected>Most Popular</option>
                            <option value="2">All Channels</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="preloader" class="progress frontpage-preloader orange lighten-3">
                <div class="indeterminate"></div>
            </div>
            {{> frontpage/channels}}
        </div>
    </main>
</div>
