<div class="section mega">
    <div id="mega-background"></div>
    <h5>Create a radio channel, collaborate and listen</h5>
    <form class="channel-finder">
        <div class="input-field">
            <p class="prefix">zoff.me/</p>
            <input
            class="room-namer autocomplete desktop-search"
            type="text"
            id="autocomplete-input"
            name="chan"
            placeholder="chill"
            title="Type channel name here to create or listen to a channel. Only alphanumerical chars. [a-zA-Z0-9]+"
            autocomplete="off"
            autofocus
            required
            pattern="[a-zA-Z0-9]+"
            spellcheck="false"
            maxlength="18"
            />
            <button class="listen-button btn waves-effect waves-light white-text col s2">Listen</button>
        </div>
    </form>
    <div class="pitch outline">
        <div>Live &amp; democratic playlists with YouTube Music</div>
        <div>Play everywhere — No login required</div>
    </div>
</div>
