<div class="section mobile-search">
    <form class="channel-finder-mobile row" id="base">
        <div class="input-field col s12">
            <input
            class="autocomplete mobile-search"
            type="text"
            id="searchFrontpage"
            name="chan"
            title="Type channel name here to create or listen to a channel. Only alphanumerical chars. [a-zA-Z0-9]+"
            autocomplete="off"
            required pattern="[a-zA-Z0-9]+"
            spellcheck="false"
            maxlength="18"
            data-length="18"
            />
            <label for="searchFrontpage" class="noselect">Find or create radio channel</label>
        </div>
    </form>
</div>
