<div id="main-container" class="channelpage noselect cursor-default">
    {{> channel/header}}
    <div id="channel-load" class="progress">
        <div class="indeterminate" id="channel-load-move"></div>
    </div>
    <main class="container center-align main">
        <div id="main-row" class="row">
            {{> channel/players}}
            {{> channel/tabs}}
        </div>
        <!--<div id="playbar">
        </div>-->
    </main>
</div>
