{{> remote/header}}
    <main class="center-align container remote-container">
        <div class="section">
            <h3 id="remote-text">Remote Controller</h3>
        </div>
        <div class="section">
            {{> remote/input}}
            {{> remote/buttons}}
            {{> remote/volume}}
        </div>

        <div class="section about-remote">
            <b>Here you can control another Zoff player from any device.</b>
            <br>
            To find the ID of your player, click the Conf <i class="material-icons">menu</i> icon on the top right of the player page, then "Remote Control".
            <br>You can either scan the QR code or type the ID manually.
        </div>
    </main>
