server/public/assets/images/thumbnails/
server/config/mailconfig.js
server/config/api_key.js
server/config/mongo_config.js
server/config/cert_config.js
server/public/assets/dist/callback.min.js
server/public/assets/dist/embed.min.js
server/public/assets/dist/main.min.js
server/public/assets/dist/remote.min.js
*/node_modules
node_modules/
scripts/
.DS_Store
npm-debug.log
server/npm-debug.log
