# Ignore .htaccess (copy ht.access and create your own)
.htaccess

# Ignoring composer.phar (because we don't want to push it to Github)
composer.phar

# Ignoring composer.lock (just because)
composer.lock

# Ignoring vendor dir (because files are installed using composer)
vendor