Options +FollowSymLinks
RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%1/$1 [L]

RewriteCond %{HTTP_HOST} ^(.*zoff.no.*)$
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [L]

RewriteCond %{HTTP_HOST} ^remote.zoff.no
RewriteRule ^(.*)$ public/php/controller.php [L,NC,QSA]

RewriteCond %{HTTP_HOST} ^zoff.no
RewriteCond %{REQUEST_URI} /o_callback
RewriteRule ^(.*)$ public/html/callback.html [L,NC,QSA]

RewriteCond %{HTTP_HOST} ^zoff.no
RewriteCond %{REQUEST_URI} /_embed
RewriteRule ^(.*)$ public/html/embed.html [L,NC,QSA]

RewriteCond %{HTTP_HOST} ^localhost
RewriteCond %{REQUEST_URI} /o_callback
RewriteRule ^(.*)$ /public/html/callback.html [L,NC,QSA]

RewriteCond %{HTTP_HOST} ^localhost
RewriteCond %{REQUEST_URI} /_embed
RewriteRule ^(.*)$ /public/html/embed.html [L,NC,QSA]

#RewriteRule (?i)^remote/(.*) /public/php/controller.php?id=$1 [L]
#RewriteRule (?i)^remote /public/php/controller.php [L]

RewriteCond %{REQUEST_URI} !(/$|\.)
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule /(.*)$ /$1 [L]

Options -Indexes
