<header>
    <div class="navbar-fixed">
        <nav id="nav">
            <div id="bar">
            </div>
            <div class="nav-wrapper">
                <div class="brand-logo zbrand channel-logo-container">
                    <a href="/" class="brand-logo brand-logo-navigate">
                        <img class="zicon" src="/assets/images/z.svg" alt="zoff-logo" title="Home" />
                    </a>
                    {{#if client}}
                    <span id="chan" class="chan clickable client">{{list_name}}</span>
                    {{else}}
                    <span id="chan" class="chan clickable">{{list_name}}</span>
                    {{/if}}
                    <div id="duration"></div>
                </div>
                <ul class="title-container">
                    <li class="song-title cursor-pointer truncate" id="song-title">
                        Loading...
                    </li>
                    <li class="search-container hide" id="search-wrapper">
                        <input id="search" class="search_input white-text" type="text" title="Search for songs..."
                            placeholder="Search.." onsubmit="null;" autocomplete="off" />
                    </li>
                </ul>
                <ul class="right control-list noselect">
                    <li class="search-btn-container">
                        <div class="nav-btn" id="search-btn">
                            <i class="material-icons">search</i>
                            <div id="search_loader" class="valign-wrapper hide">
                                <div id="search_loader_inner">
                                    <div class="preloader-wrapper small search_loader_spinner">
                                        <div class="spinner-layer spinner-white-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{#unless client}}
                    <li class="cast-button-header">
                        <button class="castButton playbar-btn" id="castButton" is="google-cast-button"></button>
                    </li>
                    <li id="volume-button" class="playbar-btn">
                        <i id="v-mute" class="material-icons hide">volume_off</i>
                        <i id="v-low" class="material-icons hide">volume_mute</i>
                        <i id="v-medium" class="material-icons hide">volume_down</i>
                        <i id="v-full" class="material-icons">volume_up</i>
                    </li>
                    <div class="volume-container">
                        <div id="volume"></div>
                    </div>
                    {{/unless}}
                    <li class="skip_next_client">
                        <div class="nav-btn skip">
                            <i class="material-icons">skip_next</i>
                        </div>
                    </li>
                    <li class="shuffle-btn-container">
                        <div class="nav-btn" id="shuffle">
                            <i class="material-icons">shuffle</i>
                        </div>
                    </li>
                    <li class="settings-hamburger" data-activates="settings-bar" id="settings">
                        <div class="hamburger-sidenav">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </li>
                </ul>
                <ul class="sidenav" id="settings-bar">
                    {{> channel/panel}}
                </ul>
                {{> channel/search}}
            </div>
        </nav>
    </div>
    {{> channel/modal}}
</header>