<header>
    <div class="navbar-fixed">
        <nav id="nav">
            <div class="nav-wrapper">
                <div class="brand-logo zbrand channel-logo-container">
                    <a href="/" class="brand-logo brand-logo-navigate">
                        <img class="zicon" src="/assets/images/z.svg" alt="zoff-logo" title="Home" />
                    </a>
                    <span id="chan" class="chan clickable" title="Show big URL">{{list_name}}</span>
                </div>
                <ul class="title-container">
                    <li class="song-title cursor-pointer truncate" id="song-title">
                        Loading...
                    </li>
                    <li class="search-container hide" id="search-wrapper">
                        <input id="search" class="search_input" type="text" title="Search for songs..." placeholder="Find song on YouTube..." onsubmit="null;" autocomplete="off" />
                    </li>
                </ul>
                <ul class="right control-list noselect">
                    <li id="search_loader" class="valign-wrapper">
                        <div id="search_loader_inner">
                            <div class="preloader-wrapper small search_loader_spinner">
                                <div class="spinner-layer spinner-white-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="nav-btn" href="#find" id="search-btn">
                            <i class="material-icons">search</i>
                        </a>
                    </li>
                    <li>
                        <a class="nav-btn" href="#stir" id="shuffle">
                            <i class="material-icons">shuffle</i>
                        </a>
                    </li>
                    <li class="settings-hamburger" data-activates="settings-bar" id="settings">
                        <div class="hamburger-sidenav">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </li>
                </ul>
                <ul class="side-nav" id="settings-bar">
                    {{> channel/panel}}
                </ul>
                <div id="results" class="search_results hide">
                    <div id="temp-results-container">
                        <div id="temp-results" class="result-object">
                            <div id="result" class="result">
                                <div class="result-info-no-buttons">
                                    <div class="thumb-and-info">
                                        <img class="thumb" src="/assets/images/loading.png" alt="Thumb"/>
                                        <span class="result_info"></span>
                                    </div>
                                    <div class="result-info-title-length">
                                        <div class="search-title truncate"></div>
                                        <div class="result-start-end-container">
                                            <input type="number" min="0" class="result-start" value="0">
                                            /
                                            <input type="number" min="0" class="result-end" value="0">
                                        </div>
                                    </div>
                                </div>
                                <div class="result-info-buttons">
                                    <a href="#" target="_blank" class="waves-effect waves-orange btn-flat open-externally" title="Open on YouTube">
                                        <i class="material-icons">open_in_new</i>
                                    </a>
                                    <div class="waves-effect waves-orange btn-flat" id="add-many" title="Add several videos">
                                        <i class="material-icons">playlist_add</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="empty-results-container">
                        <div id="empty-results" class="valign-wrapper">
                            <span class="valign">No results found..</span>
                        </div>
                    </div>
                    <div class="pagination-results">
                        <a href="#" class="btn waves-effect waves-light prev-results-button orange">Prev</a>
                        <a href="#" class="btn waves-effect waves-light next-results-button orange">Next</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    {{> channel/modal}}
</header>
