<header>
    <div class="navbar-fixed">
        <nav id="nav">
            <div class="nav-wrapper">
                <div class="brand-logo truncate zbrand">
                    <a href="/" class="brand-logo brand-logo-navigate">
                        <img class="zicon" src="/assets/images/z.svg" alt="zoff" title="Zoff" />
                    </a>
                    <span id="chan" class="chan clickable truncate" title="Show big URL">{{list_name}}</span>
                </div>
                <ul class="title-container">
                    <li class="song-title cursor-pointer truncate" id="song-title">
                        Loading...
                    </li>
                    <li class="search-container hide" id="search-wrapper">
                        <input id="search" class="search_input" type="text" title="Search for songs..." placeholder="Find song on YouTube..." onsubmit="null;" autocomplete="off" />
                    </li>
                </ul>
                <ul class="right control-list noselect">
                    <li id="search_loader" class="valign-wrapper">
                        <div id="search_loader_inner">
                            <div class="preloader-wrapper small search_loader_spinner">
                                <div class="spinner-layer spinner-white-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="nav-btn" href="#find" id="search-btn">
                            <i class="material-icons">search</i>
                        </a>
                    </li>
                    <li>
                        <a class="nav-btn" href="#stir" id="shuffle">
                            <i class="material-icons">shuffle</i>
                        </a>
                    </li>
                    <li class="settings-hamburger" data-activates="settings-bar" id="settings">
                        <div class="hamburger-sidenav">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </li>
                </ul>
                <ul class="side-nav" id="settings-bar">
                    {{> channel/panel}}
                </ul>
                <div id="results" class="search_results hide">
                    <div id="temp-results-container">
                        <div id="temp-results" class="result-object">
                            <div id="result" class="result">
                                <img class="thumb" src="/assets/images/loading.png" alt="Thumb"/>

                                <div class="search-title truncate"></div>
                                <span class="result_info"></span>
                                <div class="waves-effect waves-orange btn-flat" id="add-many" title="Add several videos">
                                    <i class="material-icons">playlist_add</i>
                                </div>
                                <a href="#" target="_blank" class="waves-effect waves-orange btn-flat open-externally" title="Open on YouTube">
                                    <i class="material-icons">open_in_new</i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="empty-results-container">
                        <div id="empty-results" class="valign-wrapper">
                            <span class="valign">No results found..</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div id="user_password" class="modal">
        <div class="modal-content">
            <h5>Locked Channel</h5>
            <form id="user-password-channel-form">
                <div class="input-field">
                    <input id="user-pass-input" name="user-pass" type="password" autocomplete="off" />
                    <label for="user-pass-input" class="noselect">Password</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat close-user-password">Close</a>
            <a href="#!" class="waves-effect waves-green btn-flat submit-user-password">Submit</a>
        </div>
    </div>
    <div id="delete_song_alert" class="modal">
        <div class="modal-content">
            <h5>Delete song</h5>
            <p>Are you sure you want to delete <span id="delete_song_title"></span>?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="waves-effect waves-red btn-flat accept-delete right red-text">Delete</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat cancel-song-delete">Cancel</a>
        </div>
    </div>
    <div id="help" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Help</h4>
            <p>When listening on a channel, there are some different buttons you can click.</p>
            <p>If you click the <i class="material-icons">menu</i>, you'll open the settings panel. Here you can change channel settings, decide if you want the computer you're on can be remote-controlled, enable or disable local mode, and import playlists from YouTube.</p>
            <p>The <i class="material-icons">search</i>, opens up a search inputfield. If you start typing here, the site will automagically search for your input!</p>
            <p>If you click the button next to the search icon <i class="material-icons">skip_next</i>, you'll skip on a song. The one next to that one <i class="material-icons">shuffle</i>, is shuffling of the list.</p>
            <p>Clicking a song in the playlist, gives it a vote. If you're logged in, you'll have a delete button at your disposal.</p>
            <p>Also, whenever you're logged in, you'll have three tabs in the top of the playlist thats called "Playlist", "Suggested" and "Chat". The playlist obviously shows the playlist. But the suggested tab, shows 5 songs that YouTube recommends based on the current song. There might also be user recommended songs. To add any of these, just click them as you'd click a song to vote.</p>
            <p>If you want to listen to the channel without any "hickups", or being affected by other peoples votes, there is a local mode. By opening up the settings <i class="material-icons">menu</i>, and checking the local mode checkbox, you will be free of synced listening! This will also enable seeking in the current playing video, perfect for those songs you only like a part of!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <div id="embed" class="modal">
        <div class="modal-content">
            <h4>Embed</h4>
            <p>Copy the code in the textarea, and paste on your website.</p>
            <p>
                <input type="checkbox" id="autoplay" checked="checked" />
                <label for="autoplay" class="padding_right_26">Autoplay</label>
                <label for="width_embed" class="embed-label">Width</label>
                <input type="number" value="600" id="width_embed" class="settings_embed" min="1" />
                <label for="height_embed" class="padding_left_6 embed-label">Height</label>
                <input type="number" value="300" id="height_embed" class="settings_embed" min="1" />
                <label for="color_embed" class="padding_left_6 embed-label">Color</label>
                <input type="color" id="color_embed" class="settings_embed" value="#808080" />
            </p>
            <textarea id="embed-area"></textarea>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</header>
