<div id="wrapper" class="tabs_height">
    <div id="list-song-html">
        <div id="list-song" class="card left-align list-song playlist-element waves-effect waves-light">
            <div class="clickable vote-container" title="Vote!">
                <a class="clickable center-align votebg">
                    <span class="lazy card-image cardbg list-image" style="background-image:url('/assets/images/loading.png');">
                    </span>
                    <span class="card-duration">
                        01:00
                    </span>
                </a>
                <span class="card-content">
                    <span class="flow-text truncate list-title"></span>
                    <span class="vote-span">
                        <span class="list-votes"></span>
                        <span class="highlighted vote-text">&nbsp;votes</span>
                    </span>
                </span>
            </div>
            <div class="card-action center-align list-remove">
                <a href="#" class="waves-effect btn-flat clickable more_button">
                    <i class="material-icons">more_vert</i>
                </a>
                <!--<a title="Remove song" class="waves-effect btn-flat clickable hide-on-small-only delete_button hide suggested_remove">Delete</a>
                <a title="Remove song" class="waves-effect btn-flat clickable hide-on-med-and-up delete_button hide suggested_remove"><i class="material-icons">close</i></a>-->
            </div>
            <div class="mobile-delete red">DELETE</div>
        </div>
    </div>
</div>
