<div id="wrapper" class="tabs_height">
    <div id="list-song-html">
        <div id="list-song" class="card left-align list-song playlist-element waves-effect waves-light">
            <div class="clickable vote-container" title="Vote!">
                <a class="clickable center-align votebg">
                    <span class="card-image cardbg list-image" style="background-image:url('/assets/images/loading.png');"></span>
                    <span class="card-duration">
                        01:00
                    </span>
                </a>
                <span class="card-content">
                    <span class="flow-text truncate list-title"></span>
                    <span class="vote-span">
                        <span class="list-votes"></span>
                        <span class="highlighted vote-text">&nbsp;votes</span>
                    </span>
                </span>
            </div>
            <div class="card-action center-align list-remove">
                <a href="#" class="waves-effect btn-flat clickable more_button">
                    <i class="material-icons">more_vert</i>
                </a>
            </div>
            <div class="mobile-delete red">DELETE</div>
        </div>
    </div>
</div>
<div id="pageButtons" class="hide">
    <span class="first_page_hide btn-flat disabled">
        <i class="material-icons">first_page</i>
    </span>
    <a class="first_page waves-effect waves-light btn-flat">
        <i class="material-icons">first_page</i>
    </a>
    <span class="prev_page_hide btn-flat disabled">
        <i class="material-icons">navigate_before</i> prev
    </span>
    <a class="prev_page waves-effect waves-light btn-flat">
        <i class="material-icons">navigate_before</i> prev
    </a>
    <span id="pageNumber">1</span>
    <a class="next_page waves-effect waves-light btn-flat">
        next <i class="material-icons">navigate_next</i>
    </a>
    <span class="next_page_hide btn-flat disabled">
        next <i class="material-icons">navigate_next</i>
    </span>
    <a class="last_page waves-effect waves-light btn-flat">
        <i class="material-icons">last_page</i>
    </a>
    <span class="last_page_hide btn-flat disabled">
        <i class="material-icons">last_page</i>
    </span>
</div>
