<li class="no-padding">
    <div class="col s9 collapsible-header bold waves-effect admin-settings">
        Channel Settings
        <i class="material-icons">tune</i>
    </div>
    <div class="collapsible-body">
        <ul>

            <form action="#" id="adminForm" onsubmit="return false;">
                <li class="white-bg">
                    <div class="input-field field-settings">
                        <i id="admin-lock" class="material-icons">lock</i>
                        <input placeholder="Enter admin password" id="password" type="password" class="validate" />
                    </div>
                </li>
            </form>
            <form action="#" id="adminSettingsForm" onsubmit="return false;">
                <li>
                    <span class="switch-text">
                        Add songs
                    </span>
                    <div class="switch">
                        <label>
                            <span class="left-span">Anyone</span>
                            <input name="addsongs" type="checkbox" class="conf" /><span class="lever"></span>
                            <span class="right-span">Admin</span>
                        </label>
                    </div>
                </li>
                <li>
                    <span class="switch-text">
                        Vote
                    </span>
                    <div class="switch">
                        <label>
                            <span class="left-span">Anyone</span>
                            <input name="vote" type="checkbox" class="conf" /><span class="lever"></span>
                            <span class="right-span">Admin</span>
                        </label>
                    </div>
                </li>

                <li>
                    <span class="switch-text">
                        Shuffle
                    </span>
                    <div class="switch">
                        <label>
                            <span class="left-span">Anyone</span>
                            <input name="shuffle" type="checkbox" class="conf" /><span class="lever"></span>
                            <span class="right-span">Admin</span>
                        </label>
                    </div>
                </li>
                <li>
                    <span class="switch-text">
                        Skip
                    </span>
                    <div class="switch">
                        <label>
                            <span class="left-span">Anyone</span>
                            <input name="skip" type="checkbox" class="conf" /><span class="lever"></span>
                            <span class="right-span">Admin</span>
                        </label>
                    </div>
                </li>
                <li>
                    <span class="switch-text">
                        Song length
                    </span>
                    <div class="switch">
                        <label>
                            <span class="left-span">Any</span>
                            <input name="longsongs" type="checkbox" class="conf" /><span class="lever"></span>
                            <span class="right-span">Short</span>
                        </label>
                    </div>
                </li>
                <li>
                    <span class="switch-text">
                        Type
                    </span>
                    <div class="switch">
                        <label>
                            <span class="left-span">Any</span>
                            <input name="allvideos" type="checkbox" class="conf" /><span class="lever"></span>
                            <span class="right-span">Song</span>
                        </label>
                    </div>
                </li>
                <li>
                    <span class="switch-text">
                        Frontpage
                    </span>
                    <div class="switch">
                        <label>
                            <span class="left-span">Hide</span>
                            <input name="frontpage" type="checkbox" class="conf" /><span class="lever"></span>
                            <span class="right-span">Display</span>
                        </label>
                    </div>
                </li>
                <li>
                    <span class="switch-text">
                        After play
                    </span>
                    <div class="switch">
                        <label>
                            <span class="left-span">Keep</span>
                            <input name="removeplay" type="checkbox" class="conf" /><span class="lever"></span>
                            <span class="right-span">Remove</span>
                        </label>
                    </div>
                </li>
                <li>
                    <span class="switch-text">
                        Strict skip
                    </span>
                    <div class="switch">
                        <label>
                            <span class="left-span">Off</span>
                            <input name="strictSkip" type="checkbox" class="conf" /><span class="lever"></span>
                            <span class="right-span">On</span>
                        </label>
                    </div>
                </li>
                <li class="chat-toggle-li hide">
                    <span class="switch-text">
                        Chat
                    </span>
                    <div class="switch">
                        <label>
                            <span class="left-span">Disabled</span>
                            <input name="toggleChat" type="checkbox" class="conf" /><span class="lever"></span>
                            <span class="right-span">Enabled</span>
                        </label>
                    </div>
                </li>
                <li class="user-password-li hide">
                    <span class="switch-text">
                        Channel password
                    </span>
                    <div class="switch">
                        <label>
                            <span class="left-span">No</span>
                            <input name="userpass" type="checkbox" class="conf password_protected" /><span class="lever"></span>
                            <span class="right-span">Yes</span>
                        </label>
                    </div>
                </li>
            </form>
            <form action="#" id="strictSkipForm" onsubmit="return false;">
                <li class="white-bg strict-skip-input hide">
                    <div class="input-field field-settings">
                        <i id="strict-skip-lock" class="material-icons">queue_play_next</i>
                        <input placeholder="Strict skip number" id="strict-input-number" type="number" class="validate" />
                    </div>
                </li>
            </form>
            <li class="change_user_pass hide">
                <a href="#!" class="change_user_pass_btn btn waves-effect blue">Change password</a>
            </li>
            <li class="delete-all hide">
                <a href="#" class="delete-all-songs btn red">Delete all songs</a>
            </li>
        </ul>
    </div>
</li>
