<div id="suggestions" class="tabs_height" style="display:none;">
    <p class="suggest-title-info">YouTube Suggests:</p>
    <div class="suggest_bar" id="suggest-song-html">
    </div>
    <p class="suggest-title-info" id="user_suggests">Users Suggests:</p>
    <div class="suggest_bar" id="user-suggest-html">
    </div>
</div>
