<main class="container valign-wrapper row">
      <div class="center-align col m6 offset-m3">
        <img src="https://zoff.me/assets/images/favicon.png" width="100" height="100" alt="image" />
        <form action="/login" id="login_form" method="POST">
          <input type="text" name="username" placeholder="Username" required autofocus="on" autocomplete="off" />
          <input type="password" name="password" placeholder="Password" required />
          <input type="submit" class="hide">
          <a href="#" class="btn grey darken-3 waves-effect" id="login_button">LOGIN</a>
        </form>
      </div>
</main>
