<div class="rc" id="remote-controls">
    <a id="playbutton" class="remote-button chan-link waves-effect btn green">
        <i id="remote_play" class="material-icons">play_arrow</i>
    </a>
    <a id="pausebutton" class="remote-button chan-link waves-effect btn gray">
        <i id="remote_pause" class="material-icons">pause</i>
    </a>
    <a id="skipbutton" class="remote-button chan-link waves-effect btn blue">
        <i id="remote_skip" class="material-icons">skip_next</i>
    </a>
</div>
