<header>
    <nav id="fp-nav">
        <div class="nav-wrapper">
            <a href="https://zoff.me" class="brand-logo brand-logo-navigate hide-on-med-and-down">
                <img class="zicon" src="/assets/images/z.svg" alt="zoff" title="Zoff" />
            </a>
            <div class="brand-logo truncate zbrand">
                <a href="https://zoff.me" class="hide-on-large-only brand-logo-navigate">
                    <img class="zicon" src="/assets/images/z.svg" alt="zoff" title="Zoff" />
                </a>
            </div>
            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect green" title="Remote control a Zoff player" href="https://remote.zoff.me">Remote</a></li>
                <li><a class="modal-trigger waves-effect waves-orange" data-target="about">About</a></li>
            </ul>
        </div>
    </nav>
    {{> modal/about}}
    <div id="help" class="modal">
        <div class="modal-content">
            <h4>Help</h4>
            <p>To remote-control a computer, just type in the ID for that computer. (This can be found in the settings panel on the computer you want to remote control. There is also a QR code for you to scan.</p>
            <p>When you've entered the ID for the computer you want to control, you'll be able to change the volume, have the controled computer vote for skipping, pause the video or play the video.</p>
            <p>The input field you used to enter the ID (if you entered it), has now changed some. If you type in something here now, the controled computer will change channel!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</header>
