<form id="remoteform" class="row">
    <div class="input-field col s12">
        <input
        class="input-field"
        type="text"
        id="search"
        name="chan"
        title="Type channel name here to create or listen to a channel. Only alphanumerical chars. [a-zA-Z0-9]+"
        autocomplete="off"
        spellcheck="false"
        maxlength="10"
        data-length="10"
        />
        <label for="search" id="forsearch">Type ID of host to be controlled</label>
    </div>
</form>
