/* 
1. Global styles
2. Entry page
3. Channel page
 3.0 Page
 3.1 Video
 3.2 Playlist
 3.3 Search
*/

/* GLOBAL STYLES */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* global colors */
footer.page-footer, 
nav, .tabs .tab a, 
.side-nav .collapsible-body li.active, 
.side-nav.fixed .collapsible-body li.active, 
.pagination li.active{
    background-color: #2D2D2D;
}

.secondary-content,
.dropdown-content li > a, .dropdown-content li > span,
.input-field .prefix.active,
input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label
{
    color: #2D2D2D;
}

span.badge.new,
.progress .determinate,
.progress .indeterminate,
.switch label input[type=checkbox]:checked + .lever:after,
{
    background-color: #2D2D2D;   
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #9D9D9D;
    box-shadow: 0 1px 0 0 #9D9D9D;
}

/* End global colors */

nav .brand-logo{
    padding-left: 20px;
}

main {
    flex: 1 0 auto;
}

.fullwidth{
    width:100%;
}

.highlighted{
    font-weight: 300;
}

.invisible{
    opacity: 0;
}

.cardbg{
    background-repeat: no-repeat;
    background-size: 124%;
    background-position: 50% 50%;
    background-color: #171717;
    height: 120px;
}

.card .card-content {
    padding: 10px 20px;
}
.card .card-action a {
  padding: 0;
  margin: 0;
  width: 100%;

}


/*
play mdi-av-play-arrow 
pause mdi-av-pause
remove mdi-content-clear 
search mdi-action-search 
password mdi-communication-vpn-key 
volume mdi-av-volume-up s
kip mdi-av-skip-next 
shuffle mdi-av-shuffle 
settings mdi-action-settings 
errors mdi-alert-warning mdi-alert-error mdi-action-info 
success mdi-action-done
vote mdi-action-thumb-up 
hide mdi-action-visibility mdi-action-visibility-off
*/

/* INDEX PAGE */

#zicon{
    /* width: 50px; */
    /* margin: 7px 20px; */
    height: 100%;
}

.section .search {
    padding-top: 2.5rem;
}

#channels li{opacity: 0;}