/*
1. Global styles
2. Entry page
3. Channel page
 3.0 Page
 3.1 Video
 3.2 Playlist
 3.3 Search
*/

/* GLOBAL STYLES */

#toast-container{
  left:2% !important;
  pointer-events:none;
}

::-webkit-scrollbar-track
{
  background-color: rgba(255,255,255,0.3);
  border-radius:0px;
}

::-webkit-scrollbar
{
  width: 5px;
  border-radius:0px;
}

::-webkit-scrollbar-thumb
{
  background-color: #3E3E3E;
  border-radius:0px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 
.rounded{
  border-radius: 4px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

.main, #main-row, .video-container, #playlist{
  height: calc(100vh - 64px) !important;
}

footer{
  margin-top:0px !important;
}

/* global colors */
footer.page-footer,
nav, .tabs .tab a,
.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active,
.pagination li.active{
    background-color: #2D2D2D;
}

.secondary-content,
.dropdown-content li > a, .dropdown-content li > span,
.input-field .prefix.active,
input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label
{
    color: #2D2D2D;
}

.pin{
  position:absolute;
  right:10px;
  font-size:25px;
}

.field-settings{
	margin-left: 25px !important;
	color: rgb(68,68,68);
}

.import-icon{
  position: absolute;
}

#import{
  width:65%;
  margin-left:10px;
  color:rgb(68,68,68);
}

#password{
  width:84%;
	margin-left:10px;
}

span.badge.new,
.progress .determinate,
.progress .indeterminate,
.switch label input[type=checkbox]:checked + .lever:after
{
    background-color: #2D2D2D;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #9D9D9D;
    box-shadow: 0 1px 0 0 #9D9D9D;
}

/* End global colors */

nav .brand-logo{
    padding-left: 20px;
    position: relative;
    height:100%;
}

#fp-nav {
  background-color:rgba(45,45,45,1);
}

.import-a{
  width:100%;
}

#nav-mobile .green:hover{
  background-color: #38803C !important;
}

.footer-copyright a { color: #fff;}
.footer-copyright a:hover{color:#6699FF}

main {
    flex: auto;
}

nav .zbrand{
max-width: 22%;
min-width: 200px;
overflow: hidden;
position: relative;
font-size: 30px;
padding: 0 20px;
left: initial;
display: inline;
}

.navbar-fixed {
		z-index:1000;
    height: 128px;
}

.fullwidth{
    width:100%;
}

.highlighted{
    font-weight: 300;
}

.invisible{
    opacity: 0;
}

.auto-margin{
    margin-left: auto !important;
    margin-right: auto !important;

}

.clickable, .modal-trigger{cursor:pointer;}

.cardbg{
    background-repeat: no-repeat;
    background-size: 124%;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #171717;
    height: 120px;
}

#channels{
    display: none;
}

.white-bg{
    background-color:white;
}

.white-bg:hover{
    background-color:white;
}

.card .card-content {
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.870588);
}

.card .card-action {
    padding: 0;
}
.card .card-action a {
  padding: 0;
  margin: 0;
  width: 100%;
}

.card-action #del {
  color:white;
}
.card-action #del:hover{
  color:grey;
}

.share, .shareface{
    padding-left: 10px !important;
    width: 17em;
}

.shareface {background-color: rgb(42, 134, 200) !important;}

.share img{
    height: 50px;
    margin-right:10px;
}


/*
play mdi-av-play-arrow
pause mdi-av-pause
remove mdi-content-clear
search mdi-action-search
password mdi-communication-vpn-key
volume mdi-av-volume-up s
kip mdi-av-skip-next
shuffle mdi-av-shuffle
settings mdi-action-settings
errors mdi-alert-warning mdi-alert-error mdi-action-info
success mdi-action-done
vote mdi-action-thumb-up
hide mdi-action-visibility mdi-action-visibility-off
*/
/*Global style for commit container*/

#latest-commit{
	font-size: 12px !important;
  padding-left: 15px !important;
  padding-top: 40px !important;
}

#latest-commit a{
	color: rgba(255,255,255,0.8);
}

/* INDEX PAGE */

#zicon{
    height: 64px;
    transition: padding 1s ease;
}

.mdi-navigation-close {
  text-align:right !important;
}

.chan-name{
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
}

#nav-mobile{
	margin:-1px;
}

/*#channels li{opacity: 0;}*/

/*------------------- Channel page ---------------------------------------------------------------------------- */

#description, #desc-title{
  color:#444;
}

#main-row{
  margin-bottom:-64px;
  display: flex;
}

@media only screen and (min-width: 993px){
	.toast {
	  float: left;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  
  #wrapper {
    padding-right:0vh !important;
    width:100% !important;
  }
}

#list-song-html {
  display:none;
}

#empty-results {
  text-align:center;
  height:100px;
  cursor: default;
}

#empty-results span {
  margin:auto;
}

#donate_form a {
  padding-right:10px;
}


.tab a {
  background-color:rgba(0,0,0,0) !important;
}

.chat-tab, .chat-tab-li {
  color:black !important;
  margin:0 !important;
}

.indicator {
  background-color:black !important;
}

#channelchat, #all_chat{
  height: calc(100vh - 193px);
  margin: 0px 5px;
}

#chatchannel, #chatall {
  height: inherit;
  overflow-y:scroll;
  text-align:left;
  word-wrap:break-word;
}

#chat {
  /*height: calc(100% - 121px);*/
  text-align:left;
  word-wrap:break-word;
}

#chat-bar{
    position: absolute;
    display: inline;
    will-change: left;
    margin: 0;
    padding: 0;
    float: left;
}

#chat-btn i {
  -webkit-transition:opacity 1s;
  transition:opacity 1s;
}

ul #chat-log{
  padding: 0px 0px 0px 11px !important;
}

#chat li{
    margin-left: 5px;
}

#chat-input{
    background-color: rgba(0,0,0,0.1);
}

#search_loader {
  height:64px;
  padding: 0 15px;
  margin-top:15px;
}

#search_loader:hover {
  background-color:rgba(0,0,0,0);
}

.progress .indeterminate {
  background-color: #26a69a !important;
}

.channel_preloader {
  background-color:#2D2D2D;
}

.channel_preloader .indeterminate {
  background-color:white !important;
}

#player_overlay{
  background-color:black;
  position: absolute;
  top:0px;
  width:97.8%;
  color:white;
}

#player_overlay_text{
  width:100%;
}

#searchform{
    width: 50%;
    margin-left: 25%;

}

#channelpage{
    background-color:#2D2D2D;
		-webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
}

.main{
    width: 100%;
    max-width:99%;
    margin: 0px;
    padding:0px;
}

#nav {
    background-color: rgba(0, 0, 0, 0.3);
}

.control-list{
    position: fixed;
    top:0;
    right:0;
}

.title-container{
    position: absolute;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
}

.title-container li{
    height: 64px;
    height:100%;
    padding: 0 15px;
    width: 100%;
}

.search-container{
    display: block;
}

.song-title{
    font-size: 22px;
    font-weight: 300;
}

.second-title{
    width: 100%;
}

.second-title-container{
    padding: 0 10%;
    width: 100%;
}

#viewers{
    width: initial;
    padding-right: 3%;
}
#playlist{
    /*padding:0px 15px;*/
    flex:1;
}

#player{
  height:95%;
  height: calc(100% - 32px);
  position: relative;
}

.chan{
    padding-right:10px;
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.42);
}

.nav-btn
{
    transition: background-color .2s;
    min-width: 64px;
    float:right;
}
.nav-btn:hover{background-color:rgba(0,0,0,0.6);}
.hover-text{display:none;}
.nav-btn:hover > .hover-text {display:inline;}

nav ul li:hover, nav ul li.active {
  background-color: rgba(0,0,0,0.5);
}

.list-image{
    width: 34%;
    height: 66px;
    float: left;
}

.list-image:after {
    font-family: "Material-Design-Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\e686";/*"\e800";*/
    color:white;
    font-size:65px;
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.8);
    opacity:0;
    transition: all .1s ease;
}
.vote-container:hover .list-image:after {
    opacity:1;
}

.vote-span{
    opacity: 0.7;
    padding: 0 0 0 10px;
    color:white !important;
}

.list-song{
    background-color: rgba(255, 255, 255, 0.04);
    color:white;
    font:12px Arial,sans-serif;
		-webkit-transition:height .3s;
    -moz-transition:height .3s;
    -o-transition:height .3s;
    transition:height .3s;
		height:66px;
}
.list-song .card-content{padding:0;}
.list-title{
    display:block;
    color:white;font-size:1em;
    text-align:left;
    padding: 0 10px 0 10px;
    line-height: 2.6rem;
}
.card-image{cursor:pointer}
.card{
  margin:5px 0 5px 0 !important;
}
.card:hover{
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.16), 0 5px 10px 0 rgba(0,0,0,0.12);
}
.result img{
    float:left;
    height: 70px;
    border-radius: 3px;
    margin: 15px 20px;
}
.result{height:100px;margin-left:40px;}
.add-many{
    float:right;
    color:white;
}
.add-many:hover{
    color:orange;
}
.add-many i{ line-height: 36px !important;}
#results{
    background-color: rgba(0,0,0,0.8);
    margin-top: -27px;
    max-height: 600px;
    overflow: overlay;
}
.result:hover, .hoverResults {
  background-color: rgba(0,0,0,0.4);
 }

 .search-title{
    height: 40px;
 }

.list-remove{
    margin-top: 5px;
  font-size: 12px;
  height: 20px;
  display: inline-table;
  float: right;
  padding-left: 10px;
}

#del{
    height: 100%;
    line-height: normal;
    padding: 2px 12px;
}

.result {
  border-bottom: solid 1px rgba(229, 229, 229, 0.5);
  cursor: pointer;
  width:93%;
}
.result_info{
    opacity:0.8;
}


/** settings **/

.switch-text{
  font-size: 13px !important;
  padding: 0 !important;
  margin-left: 2em;
  color: #444;
}

#settings-button{color:white !important;}

.admin-settings{
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.close-settings{
    float: right;
    width: 73px;
    text-align: center;
    display: inline;
}

.setting-text {
    font-size: 13px !important;
    padding: 0 !important;
}
.switch{
    display: flex;
    float: right;
    /*position: absolute;*/
    margin-right:10px;
}
.switch label .lever {
  background-color: #00B2FF;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #5ADB74;
}

.switch label input[type=checkbox]:checked + .lever:after {
   background-color: white;
}
.switch input[type=checkbox][disabled] + .lever , .switch label input[type=checkbox]:checked[disabled] + .lever{
  cursor: default;
  background-color: #939393;
}

.switch label {
  color:#848484;
}

.collapsible-body ul li.white-bg{
  background-color:white !important;
}

#admin-lock
{
  position:absolute;
}


.ui-resizable-e{
  width:15px;
}


/************** Youtube controls **************/

#controls
{
    opacity:0;
    height:32px;
    background-color:rgba(255, 255, 255, 0.1);
    width:100%;
    color:white;
    margin-top:-6px;
}

#playpause, #duration, #volume-button
{
  float:left;
  color:white;
}

#playpause, #volume-button
{
  margin-left:10px;
}

#playpause:hover, #volume-button:hover, #fullscreen:hover
{
    color:rgba(255,255,255,0.5);
}

#fullscreen
{
  float:right;
  color:white;
  margin-right:15px;
}

#duration, #viewers
{
  margin-top:5px;
  font-family:"Roboto", sans-serif;
  font-weight:300;
  margin-left:15px;
}

#viewers{
  float: right;
}

#play, #pause, #volume-button, #fullscreen
{
  font-size:20px;
  cursor:pointer;
}

#volume {
    cursor:pointer;
  float:left;
    position: relative;
    left: 10px;
    margin: 13px auto;
    height:5px;
    width: 75px;
    /*background-color:rgba(0, 0, 0, 0.5);*/
    background:rgba(0, 0, 0, 0.5) 50% 50% repeat-x;
    border: none;
    outline: none;
    /*border-radius: 2px;*/
}

#volume .ui-slider-range-min {
    height:5px;
    width: 75px;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.8);
    border: none;
    outline: none;
    /*border-radius: 2px;*/
}

#volume .ui-slider-handle {
    height:15px;
    width:5px;
    background:#fff 50% 50% repeat-x;
    position: absolute;
    cursor: pointer;
    outline: none;
    border: none;
    /*display: none;*/
    margin-left:-2.5px;
    margin-top:0px;
}

.ui-slider-handle
{
    margin-top:-5px;
}

.play
{
    background-size: auto;
    width: 55px;
    height: 27px;
}

.pause
{
    background-size: auto;
    width: 55px;
    height: 27px;
}

.hide
{
    display:none !important;
}

#bar
{
    height:100%;
    background-color:rgba(0,0,0,0.5);
}


/***************************************************************************
****************************************************************************
********************* Screen size specific rules ***************************
****************************************************************************
***************************************************************************/



@media only screen and (max-width: 600px){

    .toast {
      height:auto;
    }

    .remote-panel {
      display:none;
    }

    .navbar-fixed, #nav{
        position: relative;
    }
    .control-list{
        position: absolute !important;
        width: 120px;
    }

    .page-footer{
      margin-top:40px !important;
    }

    .main, #main-row, .video-container, #playlist{
      height:100% !important;
      margin-bottom: -5px;
    }

    .chan {
      text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.42);
    }

    .control-list li a{ min-width: 0px; width: 37px; padding: 0 0 0 5px;}

    nav .zbrand{
        -webkit-transform:initial;
        transform: initial;
        display: block;
        max-width: initial;
        width: 70%;
        width: calc(100% - 100px);
    }

    #search_loader{
      margin-left: -75px;
      margin-top: 5px;
    }

    .title-container{
        background-color: rgba(0,0,0,0.1);
        display: inline-block;
    }
    .title-container li {
        width: 100%;
    }

    #results{
        background-color: #000;
        margin-top:56px;
    }
    .result{
        margin: 0;
        width: 99%;
    }
    .result .search-title{
        white-space: nowrap;
    }
    .result img {
        margin: 25px 10px;
        height: 50px;
    }
    .result .add-many{
        margin-top: 15px;
    }
}

@media only screen and (min-width: 992px){
    .navbar-fixed {
        height: 64px;
    }
    nav .zbrand {
        display: inline-block;
    }
    .title-container{
        position: initial;
        display: inline-block;
        margin-top: initial;
        width: 65%;
        width: calc(90% - 256px - 130px);
        left: 25%;
    }
    .title-container li {
      width: 71%;
    }

    #wrapper {
      height: 100%;
      width: 113%;
      overflow: auto;
      padding-right: 5vh;
      opacity: 1;
    }

    #playlist{
        /*padding:0px 15px;*/
        height: 90%;
        height: calc(100% - 64px);
        overflow: hidden;
        padding:0px 0px 0px 0px;
    }
}

.remote-button{
	line-height:21px;
}

#remote-controls {
	font-size:50px !important;
}

#remote-controls i {
	cursor:pointer;
}

#code-text{
  color:#000;
  text-transform: uppercase;
}
#code-link{
  height: auto;
  text-align: center;
}


#code-link + a{
  line-height: normal;
  color: black;
  text-align: center;
}
#volume-control {
    cursor:pointer;
  float:left;
    position: relative;
    left: 10px;
    margin: 13px auto;
    height:5px;
    width: 97%;
    background:rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    border-radius: 2px;
}

#volume-control .ui-slider-range-min {
    height:5px;
    width: 75px;
    position: absolute;
    background:rgba(47, 47, 47, 1);
    border: none;
    outline: none;
    border-radius: 2px;
}

#volume-control .ui-slider-handle {
  height: 15px;
  width: 36px;
  background: rgb(255, 44, 44);
  position: absolute;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 17px;
  margin-left: -17px;
  margin-top:0px;
}

.slider-vol{
  float: left;
  font-size: 22px;
}

.about-remote{
  padding-top: 50px;
}

.rc{
  display: none;
}

.search_input{
  height:50% !important;
}

#search::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
#search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFF;
   opacity:  1;
}
#search::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFF;
   opacity:  1;
}
#search:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #FFF;
}
