<div id="about" class="modal">
    <div class="modal-content">
        <h4>About</h4>
        <p>Zoff (pronounced <b>søff</b>) is a shared (free) YouTube based radio service, built upon the YouTube API. <br><br>
            Zoff is mainly a web-based service. The website uses NodeJS with Socket.IO, MongoDB and express on the backend, with JavaScript, jQuery and Materialize on the frontend.<br><br>
            The team consists of Kasper Rynning-Tønnesen and Nicolas Almagro Tonne, and the project has been worked on since late 2014.<br><br>
        </p>
        <h4>Legal</h4>
        <p>Nicolas Almagro Tonne and Kasper Rynning-Tønnesen<br>&copy; {{year}}
            <br><br>
            Creative Commons License<br>
            Zoff is licensed under a <br><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/no/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Norway License.</a>
            <br>
            Do not redistribute without permission from the developers.
            <br>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
