<div id="cookie" class="modal">
    <div class="modal-content">
        <h4>Cookies</h4>
        <p>We're using Google Analytics to track page-visits, and better understand how users navigate through the page. </p>
        <p>We're also using cookies to store your sessions, to enable for a much more seamless interaction with the app, allowing for a more persistent chat- and authenticated-session.</p>
        <p>By using this site, you're allowing us to both use the Google Analytics and our own cookies, and save them on your computer. None of these cookies can be used to identify, so don't worry.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
