<div id="donate" class="modal">
    <div class="modal-content">
        <h4>Donate</h4>
        <p>Want to donate and support our server-bills, or get a picture of your choice besides your name in chat?</p>
        <p>If you've donated 5$ or more just send us an email after you've donated with your username and a small picture, and we'll set you up!</p>
        <p>The picture has to be non-offensive or racist of course, and cannot be the Zoff logo or any copyrighted material.</p>
        <p>We take all donations happily, via both PayPal, Ethereum (ETH) and Bitcoin core (BTC).</p>
        <br>
        <br>
        <div class="row">
            <div class="col s12 m6 center">
                <div class="col s12 center">
                    <img src="/assets/images/btcdonate.png" alt="bitcoin-image" class="col s6 center"/>
                    <input type="text" id="bitcoin-address" readonly value="1NCBFnEQMTndMQj8XC59KaZtC1RpR3fUy1" />
                </div>
                <div class="col s12 center">
                    <img src="/assets/images/ethdonate.png" alt="ethereum-image" class="col s6 center"/>
                    <input type="text" id="ethereum-address" readonly value="0x4f867b619cbbc05b0e81d7a3fd9b1ae73b42098f" />
                </div>
            </div>
            <div class="col s12 m6 center">
                <img src="https://www.paypalobjects.com/webstatic/i/logo/rebrand/ppcom.png" alt="paypal-image" class="center-align" />
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="donate_form">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="JEXDYP59N5VWE">
                    <a title="Like what we made? Help us by donating (a) beer!" class="waves-effect waves-light btn orange light-blue share" onclick="document.getElementById('donate_form').submit();">
                        PayPal
                    </a>
                </form>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
