
#controls
{
	height:30px;
	background-color:rgba(255, 255, 255, 0.25);
	position:absolute;
	width:54%;
	transition: 0.75s -webkit-filter linear;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#q, #fullscreen, #playpause
{
	-webkit-filter:brightness(300%);
}

#q:hover, #fullscreen:hover, #playpause:hover
{
	-webkit-filter:brightness(100%);
}

#q
{
	cursor:pointer;
	float:right;
	background: no-repeat url(player.webp) 0 -1023px;
	background-size: auto;
	width: 30px;
	height: 27px;
}

#qS
{
	display: block;
	float:right;
	background-color: rgba(255,255,255,0.3);
	position: absolute;
	width:125px;

}

.qChange
{
	font-family:helvetica;
	font-size:15px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:3px;
	cursor:pointer;
	background-color:rgba(0, 0, 0, 0.54);
}

.qChange:hover
{
	background-color:black;
}

#mute
{
	cursor: pointer;
	background: no-repeat url(player.webp) -0px -1829px;
	background-size:auto;
	float:left;
	height:27px;
	width:30px;
	-webkit-filter:brightness(300%);
	margin-left: 40px;
}

#fullscreen
{
	cursor:pointer;
	background: no-repeat url(player.webp) 0 -1054px;
	background-size: auto;
	width: 30px;
	height: 27px;
	float:right;
}

#duration
{
	float:left;
	margin-top:9px;
	font-family:helvetica;
	font-size:12px;
}

#dash
{
	font-weight:bolder;
}

#volume {
	cursor:pointer;
    position: absolute;
    left: 200px;
    margin: 12px auto;
    height:5px;
    width: 75px;
    background-color:rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    border-radius: 2px;
}

#volume .ui-slider-range-min {
    height:5px;
    width: 75px;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.8);
	border: none;
	outline: none;
	border-radius: 2px;
}

#volume .ui-slider-handle {
    height:15px;
    width:5px;
    background-color:white;
    position: absolute;
    cursor: pointer;
    outline: none;
    border: none;
    display: none;
}

.ui-slider-handle
{
	margin-top:-5px;
}

#playpause
{
	cursor:pointer;
	float:left;
}

.play
{
	background: no-repeat url(player.webp) 0 -496px;
	background-size: auto;
	width: 55px;
	height: 27px;
}

.pause
{
	background: no-repeat url(player.webp) 0 -2139px;
	background-size: auto;
	width: 55px;
	height: 27px;
}

.hide
{
	display:none !important;
}
