<div id="channel-list-container">
    <ul class="row" id="channels">
        {{#each channels}}
            {{#if frontpage}}
                {{> frontpage/channel}}
            {{/if}}
        {{/each}}
    </ul>
</div>
