<li id="chan-card" class="col s6 m4 l3">
    <div class="card sticky-action">
        <a class="chan-link">
            <div class="chan-bg card-image cardbg"></div>
            <div class="card-content">
                <i class="material-icons pin">star_rate</i>
                <p class="left-align">
                    <span class="chan-name flow-text truncate"></span>
                    <br>
                    <span class="highlighted">Viewers:&nbsp;</span>
                    <span class="chan-views"></span>
                    <br>
                    <span class="highlighted">Songs:&nbsp;</span>
                    <span class="chan-songs"></span>
                </p>
            </div>
            <div class="card-action noselect">
                <span class="chan-link-element waves-effect waves-orange btn-flat">Listen</span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4 truncate"></span>
                <p class="description_text"></p>
            </div>
        </a>
    </div>
</li>
