<header>
    <nav id="fp-nav">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">
                <img class="zicon" src="/assets/images/z.svg" alt="zoff" title="Zoff" />
            </a>
            <div id="frontpage-viewer-counter" class="noselect" title="Divided among all channels. Hidden or not"></div>
            <ul class="right hide-on-med-and-down">
                <li><a class="header-buttons waves-effect waves-cyan" id="offline-mode" title="Local mode" href="#">Local</a></li>
                <li><a class="header-buttons waves-effect waves-green" title="Remote control a Zoff player" href="https://remote.zoff.me">Remote</a></li>
                <li><a class="header-buttons modal-trigger waves-effect waves-orange" data-target="about">About</a></li>
            </ul>
        </div>
    </nav>
    {{> modal/about}}
    <div id="donation" class="modal">
        <div class="modal-content">
            <h4>Thanks!</h4>
            <p>Thanks for your donation, we love you &lt;3
                <br><br>
                We will use the money for something awesome, just you wait and see!
                <br><br>
                We might also add your name somewhere in the code as a sign of gratitude, see if you can find it! (Might take a day or two for us to see the donation and implement it..)
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">I'm awesome! (Close)</a>
        </div>
    </div>
    <div id="help" class="modal">
        <div class="modal-content">
            <h4>Help</h4>
            <p>At the center of the site, you'll see a input field. This is meant to navigate to new or existing channels. If you input something here that doesn't exist, a new channel will be create at the blink of an eye! Remember to put a password on the list you've created, so no one else takes it from you! (It's on a first come, first serve basis). When you're ready to proceed, just click the listen button!</p>
            <p>Underneath the input fields, there are several tiles. These are channels that already exists, and they can be clicked! To listen to one of these channels, it is just to click the tile.</p>
            <p>If you want to listen to the channel without any "hickups", or being affected by other peoples votes, there is a local mode. By clicking the local button in the header, you will be free of synced listening!</p>
        </div>
        <div class="modal-footer">
            <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

</header>
